<!DOCTYPE html>
<html>
  {% include 'partials/head.html' %}
  <body>
    <div class="container">
      <h1>dynos eb2 pickit generator</h1>
      <form method="POST">
        {% include 'partials/currency_section.html' %} {%include
        'partials/rune_section.html' %} {% include
        'partials/unique_section.html' %} {# Added unique section #} {% include
        'partials/submit_button.html' %}
      </form>

      {% include 'partials/results_section.html' %}
    </div>

    {% include 'partials/scripts.html' %}
  </body>
</html>
